/*Общие стили */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body {
    margin: 0;
    background-color: black;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: chocolate;
    width: 165px;
    height: 50px;
    border-radius: 5px;

    font-weight: 500;
    font-size: 16px;

    transition: 0.3s;
}

.btn:hover {
    opacity: 0.7;
}

/* Шапка */

.header {
    padding: 25px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    opacity: 0.7;
    transition: 0.3s;
}

.header__nav a:hover {
    opacity: 1;
}

.header__nav a.active {
    opacity: 1;
}

/* Приветственная секция */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 200px 0;
    margin-top: -150px;

    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    opacity: 0.7;
    font-size: 0 18px;
    margin: 40px 0;
}

/* Карточки */

.food-list {
    padding: 100px 0;
}

.food-list__card {
    width: 260px;
    /* Обрезаем изображение по контейнеру */
    overflow: hidden;

    border-radius: 10px;
    background-color: darkslategray;

    text-align: center;
}

.food-list__img {
    height: 175px;
    /* Растянуть изображение по блоку */
    object-fit: cover;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    /* Адаптация контейнеров, перенос контейнеров по ширине */
    flex-wrap: wrap;
    /* Расстояние между элементами внутри контейнера */
    gap: 40px 10px;
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    font-size: 20px;
}

.food-list__desc {
    opacity: 0.7;
}

